<h2>Search Location<h2>
<form action="/locations" method="get">
  <label>Country</label>
  <input type="text" name="country" value="<%= searchOptions.country %>">
  <button type="submit">Search</button>
</form>
<br>
<% locations.map(location => { %>
  <div><%= location.country %></div>
<% }) %>