<h2 class="page-header"><%= location.country  %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/locations/<%= location.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm.ejs', { url: `/locations/${location.id}` }) %>
</div>

<% if (picturesFromCountry.length > 0) { %>
<h2 class="page-header">Pictures from country</h2>
<%- include('../partials/picturesGrid', { pictures: picturesFromCountry })%>
<% } %>