<header class="header">
  <nav class="header__nav">
    <a class="header__title" href="/">memo.pleasure</a>
    <ul class="header__list">
      <li class="header__item"><a class="header__link" href="/locations">Locations</a></li>
      <li class="header__item" ><a class="header__link" href="/locations/new">Add Location</a></li>
      <li class="header__item" ><a class="header__link" href="/pictures">Pictures</a></li>
      <li class="header__item" ><a class="header__link" href="/pictures/new">Add Picture</a></li>
    </ul>
  </nav>
</header>