<header>
  <nav>
    <a href="/">memo.pleasure</a>
    <ul>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/locations/new">Add Location</a></li>
      <li><a href="/pictures">Pictures</a></li>
      <li><a href="/pictures/new">Add Picture</a></li>
    </ul>
  </nav>
</header>