*, *:before, *:after {
  box-sizing: border-box; }

:root {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem; }

body {
  background: linear-gradient(to right, #8800ff, #360066);
  color: #c88aff; }

.locations-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }

.locations__country {
  font-size: 1.5rem; }

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem; }

.inner-container {
  margin: 0 2rem; }

.header__title {
  color: #c88aff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold; }
  .header__title:hover {
    color: #fafafa; }

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem; }

.header__list {
  display: flex;
  margin: 0;
  padding: 0; }

.header__item {
  list-style: none; }

.header__link {
  text-decoration: none;
  color: #c88aff;
  font-weight: 600;
  padding: 1rem; }
  .header__link:hover {
    color: #fafafa; }

.page-header {
  font-size: 2rem;
  font-weight: 500; }

.btn {
  border: 1px solid #222;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }

.btn-primary {
  color: #360066;
  background-color: #d7a8ff; }
  .btn-primary:hover {
    color: #1b0033;
    background-color: #bf75ff; }

.btn-secondary {
  color: #222;
  background-color: hsl(calc(272 - 270), 100%, 83%); }
  .btn-secondary:hover {
    color: #222;
    background-color: hsl(calc(272 - 270), 100%, 73%); }

.btn-row {
  display: flex;
  align-items: flex-start; }

.btn-row > * {
  margin-left: 1rem; }

.btn-row > *:first-child {
  margin-left: 0; }

.form-row {
  display: flex;
  margin-bottom: 1.5rem; }
  .form-row--end {
    justify-content: flex-end; }
  .form-row__item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0; }
    .form-row__item:first-child {
      margin-left: 0; }
    .form-row__item--no-grow {
      flex-grow: 0; }
    .form-row__item > label {
      font-size: 1.2rem;
      margin-bottom: .25rem;
      margin-left: .25rem; }
    .form-row__item > input, .form-row__item > select, .form-row__item > textarea {
      height: 2rem;
      padding: .25rem .5rem;
      border-radius: .25rem;
      border: 1px solid #8800ff;
      background-color: #440080;
      color: #c88aff;
      font-size: 1rem;
      font-weight: normal;
      font-family: inherit;
      outline: none; }
      .form-row__item > input:focus, .form-row__item > select:focus, .form-row__item > textarea:focus {
        border-color: #cf99ff; }
    .form-row__item > select option {
      background-color: #222; }
    .form-row__item > textarea {
      height: 100%;
      resize: none; }

.filepond--root {
  font-family: inherit;
  margin-bottom: 0; }

.filepond--panel-root {
  background-color: #440080;
  border: 1px solid #8800ff; }

.filepond--drop-label {
  color: #c88aff;
  font-size: inherit; }

.image {
  width: 320px;
  height: calc(320px / 1.5);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .image:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .image--large {
    width: 480px;
    height: calc(480px / 1.5); }

.image-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 320px); }
  .image-grid--large {
    grid-template-columns: repeat(auto-fill, 480px); }
