<h2 class="page-header">Edit picture</h2>
<form action="/pictures/<%= picture.id %>?_method=PUT" method="POST">
  <%- include('./_form_fields.ejs') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-secondary" href="/pictures">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>