<h2 class="page-header">Search Picture<h2>
    <form action="/pictures" method="get">
      <div class="form-row">
        <div class="form-row__item">
          <label>Title</label>
          <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
      </div>
      <div class="form-row">
        <div class="form-row__item">
          <label>Took After</label>
          <input type="date" name="tookAfter" value="<%= searchOptions.tookAfter %>">
        </div>
        <div class="form-row__item">
          <label>Took Before</label>
          <input type="date" name="tookBefore" value="<%= searchOptions.tookBefore %>">
        </div>
      </div>
        <div class="form-row form-row--end">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <%- include('../partials/picturesGrid.ejs', { pictures: pictures, large: true })%>