<h2 class="page-header">New picture</h2>
<form action="/pictures" method="POST">
  <%- include('./_form_fields.ejs') %>
  <a href="/pictures">Cancel</a>
  <button type="submit">Add</button>
</form>